
<html lang="en">
    <nav class="navbar py-3 px-6" role="navigation" aria-label="main navigation" style="box-shadow: 0px 15px 20px #e8e8ff">
      <div class="navbar-brand">
        <a class="image is-48x48">
          <img src="./images/bdpa_logo.png">
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item is-size-4">
            BDPA Application
          </a>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary" href="./index.html">
                <strong>Sign Up</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
</html>