
<html lang="en">
    <%- include("./icons") %> 
    <nav class="navbar py-3 px-6" role="navigation" aria-label="main navigation" style="box-shadow: 0px 15px 20px #e8e8ff">
      <div class="navbar-brand">
        <a class="image is-48x48">
          <img src="./images/bdpa_logo.png">
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item is-size-4 font-bebas">
            BDPA Application
          </a>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary font-staat" href="./index.html">
                 Sign Up
              </a>
            </div>
          </div>
          <div class="navbar-item font-staat">
            <a class="has-text-link is-size-5" href="./login">
             File System
            </a>
          </div>
          <div class="navbar-item font-staat">
            <a class="has-text-link is-size-5" href="./login">
            <span>
              <i class="fa-solid fa-user"></i>
            </span>
             Dashboard
            </a>
          </div>
        </div>
      </div>
    </nav>
</html>